.metrics {
margin:1rem;
padding:1rem;
text-align:left;
line-height: 1rem;
}

.skillsBar {
margin-left:1rem;
margin-right:1rem;
text-align:center;
position:relative;
}

.skillRating span {
font-size:0.8em;
padding-right:0.5rem;
}

.skillRating {
	padding:0.2rem;
}


.skillsBarBox {
    display: inline-block;
    margin: 1rem;
    margin-bottom:2rem;
}

.skillsBullet {
	padding:0.1rem;
}

.skillTitle {
position:relative;

}

.skillPieCharts {
	margin-top:2rem;
	margin-bottom:2rem;
	  padding-left:10%;
}

.sectionHeader {
	text-align:left;
}

.sectionHeader span {

}

.mahpuss {
	padding:2rem;
    text-align: center;	
}


.personalSidebar {
	border-left: 1px solid #ebebeb;
	margin-top:3rem;
}

.skillsBarBox a {
	color:#ccc;
}

.skillsBarBox p {
	color:#ccc;
}