.careerContainer {
padding:0.8rem;
border:1px solid #e6e6e6;
margin-bottom:0.5rem;
background:#fefefe;
}

.sectionHeader {
    font-size: 1.6em;
    line-height: 1em;
    background: #dddddd47;
    padding: 0.5rem;
    color: #444;
    margin-bottom: 0.5rem;
    /* display: inline-block; */
    /* float: left; */
    width: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}