.bitBucket {
  text-align:right;
}

.App-header {
color: #55555540;
    background: #00d1b28a;
    /* border-bottom: 0.1rem solid #e0e0e0; */
    margin-bottom: 1.5rem;
    font-size: 13vh;
    width:100%;
    position:relative;
    height:60vh;
}

.App-title {
  text-align:center;
line-height:13vh;
    font-size: 8vh;
    margin:3rem;
}



.App-title b {
  background:#5b9c7e24;
  padding:1rem;

}

.App-title span {
font-weight:bold;
}

.bitBucket a {

  color:#55555540;
}

.mobileHeader {
  color:#55555540 !important;
      font-size: 3vh;
      font-weight:bold;
        text-align:center;
        padding:1rem;
}

.mobileHeader b {
    background:#5b9c7e24;
    padding:1rem;
    margin-left:1rem;
          line-height:8vh;
}

.mobileHeader .bitBucket {
  text-align:center;
      font-size: 10vh;
      margin-top:5rem;
}